@model SoundGenius.Models.Albuns

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">

        </dt>
        <dd class="col-sm-8">
            <img src="~/Imagens/Albuns/@Model.FicheiroImg" height="300" width="350" alt="imagem do artista @Model.Titulo" title="@Model.Titulo" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-4">
            Data de lançamento
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<h4>Lista de músicas associadas a <i>@Model.Titulo</i> </h4>

@if (Model.AlbumFaixas.Count == 0)
{
    <p>Não há Albuns associadas à faixa.</p>
}
else
{
    <table class="table">
        @*<tr>
            <th>Titulo</th>
        </tr>*@
        @foreach (var AlbumFaixa in Model.AlbumFaixas)
        { // listar todas as faixas Associadas aos albuns que está em exibição
    <tr>
        <td><a asp-controller="Music" asp-action="Details" asp-route-id="@AlbumFaixa.Faixa.ID">
             @AlbumFaixa.Faixa.Titulo
            </a>
        </td>
    </tr>
        }
    </table>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
