@model IEnumerable<SoundGenius.Models.Artista>

@{
    ViewData["Title"] = "Artistas";
}

<h1>Lista de Artistas</h1>

@if (User.IsInRole("gerente"))
{
    <p>
        <a asp-action="Create">Adicionar novo artista</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Nome
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img src="~/Imagens/Artistas/@item.FicheiroImg" height="50" width="70" alt="imagem do artista @item.Nome" title="@item.Nome" />
                    </a>   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @*@if (User.IsInRole("gerente"))
                    {*@
                        <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                    @*}*@
                </td>
            </tr>
        }
    </tbody>
</table>
