@model SoundGenius.Models.Faixas


@{
    ViewData["Title"] = "Detalhes de uma faixa " + Model.Titulo;
}

<h1>Faixa</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">

        </dt>
        <dd class="col-sm-8">
            <img src="~/Imagens/Faixas/@Model.FicheiroImg" height="300" width="350" alt="imagem da faixa @Model.Titulo" title="@Model.Titulo" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-4">
            Artista
        </dt>
        <dd class="col-sm-8">
            @foreach (var AlbumFaixa in Model.AlbumFaixas)
            { // listar todas as faixas Associadas aos albuns que está em exibição
                <tr>
                    <a asp-controller="Artistas" asp-action="Details" asp-route-id="@AlbumFaixa.Album.Artista.ID">
                        @AlbumFaixa.Album.Artista.Nome
                    </a>
                </tr>
            }
        </dd>
        <dt class="col-sm-4">
            Album
        </dt>
        <dd class="col-sm-8">
            @foreach (var AlbumFaixa in Model.AlbumFaixas)
            { // listar todas as faixas Associadas aos albuns que está em exibição
                <tr>
                    <a asp-controller="Albuns" asp-action="Details" asp-route-id="@AlbumFaixa.Album.ID">
                        <td>@AlbumFaixa.Album.Titulo</td>
                    </a>
                </tr>
            }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Genero)
        </dd>

    </dl>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Regressar à listagem</a>
</div>