@model IEnumerable<SoundGenius.Models.Faixas>

@{
    ViewData["Title"] = "Musicas";
}

<h1>Lista de Músicas</h1>

@*@if (User.IsInRole("gerente"))
{*@
    <p>
        <a asp-action="Create">Adicionar novo Música</a>
    </p>
@*}*@
<table class="table">
    <thead>
        <tr>
            <th>
                Capa
            </th>
            <th>
                Nome
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img src="~/Imagens/Faixas/@item.FicheiroImg" height="50" width="70" alt="imagem da faixa @item.Titulo" title="@item.Titulo" />
                    </a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>

                    <text>

                        @*@if (User.IsInRole("gerente"))
                        {*@
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                        @*}*@
                    </text>
                </td>
            </tr>
        }
    </tbody>
</table>
